extends layout

block content  
    link(rel='stylesheet', href='/public/output.css') 
    head
        div(class="customerIntro text-center py-6")
            h1(class="textIntro text-4xl text-white") Here are the lists of customers that we have worked with
    body
        section(class="imgSection bg-white text-black flex flex-wrap justify-center")
            img(src="/public/image/mhm.png" class="relative mx-2 my-2")
            img(src="/public/image/adient.jpg" class="relative mx-2 my-2")
            img(src="/public/image/asnohorie.gif" class="relative mx-2 my-2")
            img(src="/public/image/castool.png" class="relative mx-2 my-2")
            img(src="/public/image/fisherandpaykel.jpg" class="relative mx-2 my-2")
            img(src="/public/image/gkn.jpg" class="relative mx-2 my-2")
            img(src="/public/image/gyproc.jpg" class="relative mx-2 my-2")
            img(src="/public/image/mitsubishi.png" class="relative mx-2 my-2")
            img(src="/public/image/nrt.png" class="relative mx-2 my-2")
            img(src="/public/image/somboongroup.jpg" class="relative mx-2 my-2")
            img(src="/public/image/somboon.jpg" class="relative mx-2 my-2")
            img(src="/public/image/somboonsomic.jpg" class="relative mx-2 my-2")