extends layout

block content 
    body
    div(class = "hero min-h-screen" style="background-image: url(/public/image/electric/e7.jpg)") 
            div(class="hero-overlay bg-opacity-60")
            div(class="hero-content text-neutral-content text-center")
                div(class="max-w-md")
                    p(class="text-white text-6xl  bg-opacity-50 p-4 rounded font-bold") Electrical system
    div(class="customerIntro text-center bg-myred py-8 mb-12 ")
        h1(class="textIntro text-4xl text-white") Lists
    div(class="card card-side bg-base-100 w-100 h-100 shadow-xl p-2 items-center mx-auto ")
        div(class="carousel w-500 h-500 mx-auto relative" loading = "lazy")
            div(id="mh1" class="carousel-item relative w-full")
                img(class="w-full" src="public/image/electric/e7.jpg")
            div(id="mh2" class="carousel-item relative w-full")
                img(class="w-full" src="public/image/electric/e8.jpg")
            div(id="mh3" class="carousel-item relative w-full")
                img(class="w-full" src="public/image/electric/e9.jpg")  
            div(id="mh4" class="carousel-item relative w-full")
                img(class="w-full" src="public/image/electric/e10.jpg")  
            div(id="mh5" class="carousel-item relative w-full")
                img(class="w-full" src="public/image/electric/e11.jpg") 
        div(class="card-body")
            h2(class="card-title text-white ") Control box
            div(class="flex w-full justify-center gap-2 py-2")
                a(href="#mh1" class="btn btn-xs") 1
                a(href="#mh2" class="btn btn-xs") 2
                a(href="#mh3" class="btn btn-xs") 3
                a(href="#mh4" class="btn btn-xs") 4
                a(href="#mh5" class="btn btn-xs") 5
                div(class="card card-side bg-base-100 w-100 h-100 shadow-xl p-2 items-center mx-auto ")
        div(class="carousel w-500 h-500 mx-auto relative" loading = "lazy")
            div(id="db1" class="carousel-item relative w-full")
                img(class="w-full" src="public/image/electric/db1.jpg")
            div(id="db2" class="carousel-item relative w-full")
                img(class="w-full" src="public/image/electric/db2.jpg")
            div(id="db3" class="carousel-item relative w-full")
                img(class="w-full" src="public/image/electric/db3.jpg")  
            div(id="db4" class="carousel-item relative w-full")
                img(class="w-full" src="public/image/electric/db4.jpg")  
            div(id="db5" class="carousel-item relative w-full")
                img(class="w-full" src="public/image/electric/db5.jpg") 
        div(class="card-body")
            h2(class="card-title text-white ") MDB,DB
            div(class="flex w-full justify-center gap-2 py-2")
                a(href="#db1" class="btn btn-xs") 1
                a(href="#db2" class="btn btn-xs") 2
                a(href="#db3" class="btn btn-xs") 3
                a(href="#db4" class="btn btn-xs") 4
                a(href="#db5" class="btn btn-xs") 5       