extends layout

block content     
    body    
        div(class = "hero min-h-screen" style="background-image: url(/public/image/car.jpg)") 
            div(class="hero-overlay bg-opacity-60")
            div(class="hero-content text-neutral-content text-center")
                div(class="max-w-md")
                    p(class="text-white text-2xl  bg-opacity-50 p-4 rounded font-bold") BEST OF THE BEST
                    br
                    p(class="text-white text-2xl  bg-opacity-50 p-4 rounded font-bold") Providing you with one of the best engineering services             
        div(class="infoText text-center bg-white text-black py-6 text-2xl")
            h6(class="welcomeText text-6xl underline-offset-2") Welcome
            br
            p Thanchanok Engineering and Services Co., Ltd. was established with the main objective of engaging in the business of providing support services for production processes in the industrial sector.     
            p This includes engineering work, manufacturing technology for machinery, automation, assembly work, and quality control. 
            p The company also develops programs for control and data collection, displays, clamping equipment for molds and production parts, as well as equipment or materials for machining tasks such as turning, milling, cutting, planing, grinding, drilling, polishing, and threading.
            p Additionally, the company offers structural work and cutting, folding, welding, and painting services.
            br
            p We are ready to support, improve, enhance, solve problems, and develop your production systems with the latest technology and a skilled team.
            p Our team includes electrical and mechanical designers, programmers, drafters, and manufacturers who can produce parts according to specifications, assemble, install, test operations, and provide training for machine maintenance and operation.
            p We also offer after-sales services, supported by a professional team and modern tools.
        div(class="customerIntro text-center py-6 bg-grey")
            h1(class="textIntro text-4xl text-white") Our Customers
        section(class="imgSection bg-white text-black flex flex-wrap justify-center")
            img(src="/public/image/customer.png")      