extends layout

block content  
    link(rel='stylesheet', href='/public/output.css') 
    head 
        section(class = "intropic custom-bg flex justify-center  w-full h-full relative") 
            img(src="/public/image/car.jpg" class="absolute inset-0 w-full h-full object-cover opacity-30")
            div(class="absolute inset-0 flex items-center justify-center ")
                div(class="text-center text-white")
                    p(class="text-white text-2xl  bg-opacity-50 p-4 rounded font-bold") BEST OF THE BEST
                    br
                    p(class="text-white text-2xl  bg-opacity-50 p-4 rounded font-bold") Providing you with one of the best engineering services               
    body
        div(class="infoText text-center bg-white text-black")
            h6(class="welcomeText text-4xl underline-offset-2") Welcome
            br
            p Thanchanok Engineering was founded in 2000