doctype html
html
  head 
    link(rel='stylesheet', href='/public/output.css') 
  header(class="bg-black z-100 grid grid-rows-[auto_1fr_auto] h-screen")
    nav(class="navbar bg-base-200 fixed top-0 left-0 right-0 bg-black z-[125] ")
      div(class="nav_container")
        ul(class="nav_list text-black flex items-center text-white") 
          li 
            a(href='/')
              img(src="/public/image/logo.jpg" class="h-8 mr-2") 
          li
            a(class="btn btn-ghost text-xl", href='/') Home
          li
            a(class="btn btn-ghost text-xl", href='/service') Services
          li
            a(class="btn btn-ghost text-xl", href='/location') Location
    block content

    footer(class="footer bg-base-200 text-base-content p-10")
      aside
        img(src="/public/image/logo.jpg")
        p
          | @2024 Thanchanok Engineering and Services CO., Ltd - All right reserved
      nav
        h6(class="footer-title") Contacts
        p Location: 121/200 หมู่ 3 ตำบล บ่อวิน อำเภอ ศรีราชา จังหวัด ชลบุรี 20230
        p Tel: +66 (0) 38 337-829, +66 (0) 92-995-7887
        p E-mail: @thanchanokgroup.com



      
        