doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/public/output.css')
  nav(class="navbar bg-base-100 bg-white")
    img(src="/public/image/logo.jpg")
    div(class="nav_container")
      ul(class="nav_list text-black")
        li 
          a(class = "btn btn-ghost text-xl", href='/index') Home
          a(class = "btn btn-ghost text-xl", href='/customer') Our Customers
          a(class = "btn btn-ghost text-xl", href='/service') Services
          a(class = "btn btn-ghost text-xl", href='/location') Location
  
  body(class = "grid grid-rows-[auto_1fr_auto] h-screen")
    block content

    footer(class="footer bg-base-200 text-base-content p-10")
      aside
          img(src="/public/image/logo.jpg")
          p
          | @2024 Thanchanok Engineering and services CO., Ltd - All right reserved
      nav
        h6(class="footer-title") Contacts
        p Location: 121/200 หมู่ 3 ตำบล บ่อวิน อำเภอ ศรีราชา จังหวัด ชลบุรี 20230
        p Tel: +66 (0) 38 337-829, +66 (0) 92-995-7887
        p E-mail: @tes.com

      
  

          



      
        