extends layout

block content  
    link(rel='stylesheet', href='/public/output.css') 
    head
        div(class="customerIntro text-center py-6")
            h1(class="textIntro text-4xl text-white") Where we are based at
    body
        section(class="imgSection bg-white text-black flex flex-wrap justify-center")
            img(src="/public/image/map.png")