extends layout

block content 
    body
    div(class = "hero min-h-screen" style="background-image: url(/public/image/pipe/ppr1.jpg)") 
            div(class="hero-overlay bg-opacity-60")
            div(class="hero-content text-neutral-content text-center")
                div(class="max-w-md")
                    p(class="text-white text-6xl  bg-opacity-50 p-4 rounded font-bold") Piping
    div(class="customerIntro text-center bg-myred py-8 mb-12 ")
        h1(class="textIntro text-4xl text-white") Lists
    div(class="card card-side bg-base-100 w-100 h-100 shadow-xl p-2 items-center mx-auto ")
        div(class="carousel w-500 h-500 mx-auto relative" loading = "lazy")
            div(id="mh1" class="carousel-item relative w-full")
                img(class="w-full" src="public/image/pipe/ppr2.jpg")
            div(id="mh2" class="carousel-item relative w-full")
                img(class="w-full" src="public/image/pipe/ppr3.jpg")
            div(id="mh3" class="carousel-item relative w-full")
                img(class="w-full" src="public/image/pipe/ppr4.jpg")  
            div(id="mh4" class="carousel-item relative w-full")
                img(class="w-full" src="public/image/pipe/ppr5.jpg")  
        div(class="card-body")
            h2(class="card-title text-white ") PPR
            div(class="flex w-full justify-center gap-2 py-2")
                a(href="#mh1" class="btn btn-xs") 1
                a(href="#mh2" class="btn btn-xs") 2
                a(href="#mh3" class="btn btn-xs") 3
                a(href="#mh4" class="btn btn-xs") 4
                a(href="#mh5" class="btn btn-xs") 5
        div(class="card card-side bg-base-100 w-100 h-100 shadow-xl p-2 items-center mx-auto ")
        div(class="carousel w-300 h-300 mx-auto relative" loading = "lazy")
            div(id="hd1" class="carousel-item relative w-full")
                img(class="w-full" src="public/image/pipe/hd1.jpg")
            div(id="hd2" class="carousel-item relative w-full")
                img(class="w-full" src="public/image/pipe/hd2.jpg")
            div(id="hd3" class="carousel-item relative w-full")
                img(class="w-full" src="public/image/pipe/hd3.jpg")
            div(id="hd4" class="carousel-item relative w-full")
                img(class="w-full" src="public/image/pipe/hd4.jpg")  
            div(id="hd5" class="carousel-item relative w-full")
                img(class="w-full" src="public/image/pipe/hd5.jpg")  
        div(class="card-body")
            h2(class="card-title text-white ") HDPE
            div(class="flex w-full justify-center gap-2 py-2")
                a(href="#hd1" class="btn btn-xs") 1
                a(href="#hd2" class="btn btn-xs") 2
                a(href="#hd3" class="btn btn-xs") 3
                a(href="#hd4" class="btn btn-xs") 4
                a(href="#hd5" class="btn btn-xs") 5
        div(class="card card-side bg-base-100 w-100 h-100 shadow-xl p-2 items-center mx-auto ")
        div(class="carousel w-300 h-300 mx-auto relative" loading = "lazy")
            div(id="pf1" class="carousel-item relative w-full")
                img(class="w-full" src="public/image/pipe/pf1.jpg")
            div(id="pf2" class="carousel-item relative w-full")
                img(class="w-full" src="public/image/pipe/pf2.jpg")
            div(id="pf3" class="carousel-item relative w-full")
                img(class="w-full" src="public/image/pipe/pf3.jpg")
            div(id="pf4" class="carousel-item relative w-full")
                img(class="w-full" src="public/image/pipe/pf4.jpg")  
            div(id="pf5" class="carousel-item relative w-full")
                img(class="w-full" src="public/image/pipe/pf5.jpg")  
        div(class="card-body")
            h2(class="card-title text-white ") Fire extinguisher pipe
            div(class="flex w-full justify-center gap-2 py-2")
                a(href="#pf1" class="btn btn-xs") 1
                a(href="#pf2" class="btn btn-xs") 2
                a(href="#pf3" class="btn btn-xs") 3
                a(href="#pf4" class="btn btn-xs") 4
                a(href="#pf5" class="btn btn-xs") 5       