extends layout

block content
    body
    div(class = "hero min-h-screen" style="background-image: url(/public/image/customerIntro.png)") 
            div(class="hero-overlay bg-opacity-60")
            div(class="hero-content text-neutral-content text-center")
                div(class="max-w-md")
                    p(class="text-white text-6xl  bg-opacity-50 p-4 rounded font-bold") Every parts matter
    div(class="customerIntro text-center bg-myred py-8 mb-12 ")
        h1(class="textIntro text-4xl text-white") Here are some of the services that we provided
    div(class="card card-side bg-base-100 w-100 h-100 shadow-xl items-center mx-auto ")
        div(class="carousel w-80 h-80 mx-auto relative")
            div(id="slide1" class="carousel-item relative w-full")
                img(class="w-full" src="public/image/vey1.jpg")
            div(id="slide2" class="carousel-item relative w-full")
                img(class="w-full" src="public/image/vey2.jpg")
            div(id="slide3" class="carousel-item relative w-full")
                img(class="w-full" src="public/image/vey3.jpg")  
            div(id="slide4" class="carousel-item relative w-full")
                img(class="w-full" src="public/image/vey4.jpg")  
            div(id="slide5" class="carousel-item relative w-full")
                img(class="w-full" src="public/image/vey5.jpg")                    
        div(class="card-body")
            h2(class="card-title text-white ") Product Conveyer Installation
            div(class="flex w-full justify-center gap-2 py-2")
                a(href="#slide1" class="btn btn-xs") 1
                a(href="#slide2" class="btn btn-xs") 2
                a(href="#slide3" class="btn btn-xs") 3
                a(href="#slide4" class="btn btn-xs") 4
                a(href="#slide5" class="btn btn-xs") 5
    br
    div(class="card card-side bg-base-100 w-100 h-100 shadow-xl items-center mx-auto ")
        div(class="carousel w-80 h-80 mx-auto relative")
            div(id="ppr1" class="carousel-item relative w-full")
                img(class="w-full" src="public/image/ppr1.jpg")
            div(id="ppr2" class="carousel-item relative w-full")
                img(class="w-full" src="public/image/ppr2.jpg")
            div(id="ppr3" class="carousel-item relative w-full")
                img(class="w-full" src="public/image/ppr3.jpg")  
            div(id="ppr4" class="carousel-item relative w-full")
                img(class="w-full" src="public/image/ppr4.jpg")  
            div(id="ppr5" class="carousel-item relative w-full")
                img(class="w-full" src="public/image/ppr5.jpg")                    
        div(class="card-body")
            h2(class="card-title text-white ") Product Conveyer Installation
            div(class="flex w-full justify-center gap-2 py-2")
                a(href="#ppr1" class="btn btn-xs") 1
                a(href="#ppr2" class="btn btn-xs") 2
                a(href="#ppr3" class="btn btn-xs") 3
                a(href="#ppr4" class="btn btn-xs") 4
                a(href="#ppr5" class="btn btn-xs") 5      

                
               
            